<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weatherApp</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <h1>My Weather Apps</h1>

    <div class="container1">
        <div class="container2">
            <div class="card1"></div>
            <div class="card2"></div>
            <div class="card3"></div>
            <div class="card4"></div>
            <div class="card5"></div>
            <div class="card6">
                <h3>3 hour forecast</h3>
                    <div>
                        <div class="container3">
                        <div class="day1"></div>
                        <div class="day2"></div>
                        <div class="day3"></div>
                        <div class="day4"></div>
                        <div class="day5"></div>
                        <div class="day6"></div>
                        <div class="day7"></div>
                        <div class="day8"></div>
                        <div class="day9"></div>
                        <div class="day10"></div>      
                    </div>
                </div>
            </div>
            <div class="card7"></div>
        </div>
    </div>
</body>
</html>